<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
<!--  <nav class="navbar navbar-light navbar-static-top fix-margin-bottom" style="background-color: #e3f2fd;">-->
<!--    <div class="container" >-->
<!--      <a class="navbar-brand fix-padding" href="#">-->
<!--        <img src="/images/logo.svg" class="main-logo">-->
<!--      </a>-->

<!--      <ul class="nav navbar-nav">-->
<!--        <li class="active">-->
<!--          <a href="/">ТОРТЫ</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="/">КОРЗИНА</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

  <div class="back-image"></div>

  <div class="container">
    <div class="round"></div>
    <h1 class="h1-style">Каталог тортов</h1>
  </div>

  <div class="container">
    <div class="container-fluid" style="justify-content: flex-end;">
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" id="inputSearch">
        <input class="btn btn-outline-success" type="button" name="button_1" onclick="search();">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </input>

        <div class="dropdown" style="margin-left: 8px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Порядок: по умолчанию
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><button class="dropdown-item" type="button" name="costIncreasing" value="true" >Цена: по возрастанию</button></li>
            <li><button class="dropdown-item" type="button" name="costDecreasing" value="true" >Цена: по убыванию</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 10px;">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="products">
<!--      <a href="#" class="a-style">-->
<!--        <div class="col">-->
<!--          <div class="card h-100">-->
<!--            <img th:src="@{~/images/logo.svg}" class="card-img-top img-card">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">NAME</h5>-->
<!--              <p class="card-text">2000 Р</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->


    </div>
  </div>

<!--&lt;!&ndash;&ndash;&gt;-->
<!--  <input name="button_1" id="button_1" type="button" value="button_1" onclick="getText1('<%=request.getContextPath()%>');" />-->
<!--  <input name="button_2" id="button_2" type="button" value="button_2" onclick="getText2('<%=request.getContextPath()%>');" />-->

<!--  <div id="result" style="display:none"></div>-->
<!--&lt;!&ndash;&ndash;&gt;-->

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
